trunk/tools/ARDesigner/tests/schematronTest/validation_sample1.xml

<schema xmlns="http://www.ascc.net/xml/schematron" > 
     <pattern name="Print both cases"> 
          <rule context="AAA"> 
               <assert test="BBB">BBB element is missing.</assert> 
               <report test="BBB">BBB element is present.</report> 
               <assert test="@name">AAA misses attribute name.</assert> 
               <report test="@name">AAA contains attribute name.</report> 
          </rule> 
     </pattern> 
</schema> 